.main-p {
  border-left: 2px solid #112d46;
  margin-top: 20px;
}
.main-btn {
  background-color: transparent;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #112d46;
  font-size: 10px;
  letter-spacing: 0.1rem;
  padding: 5px 30px 5px 30px;
  color: #112d46;
  outline: none;
}
.main-btn:hover {
  background-color: #112d46;
  color: #ffffff;
}
#col-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.image-wrapper {
  overflow: hidden;
  border-radius: 10px;
}
.image-wrapper img {
  transition: all 0.4s;
}
.image-wrapper:hover img {
  transform: scale(1.2, 1.2);
}
